:root {
  font-family: Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

p {
  margin: 0;
  margin-bottom: 1cm;
  float: left;
  font-style: italic;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  height: 6em;
  padding: 1.5em;
}
.git-img {
  will-change: filter;
  transition: filter 300ms;
}
.link-img {
  will-change: filter;
  transition: filter 300ms;
}
.git-img:hover {
  filter: drop-shadow(0 0 2em #171515);
}
.link-img:hover {
  filter: drop-shadow(0 0 2em #0085d2);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #050505;
    background-color: white;
  }
}
